.container-fluid{
    padding: 0px;
}

/*************NAVBAR**************/

.navbar {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    margin: 0;
    padding-top: 10px;
    border: none;
    background: #005f91;
}

.navbar-brand {
    font-size: 2.5em;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 1.5em;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff2f2;
    background-color: rgba(0, 0, 0, .16);
}

/*************SECTIONS**************/

#scrollIcon {
    font-size: 1.8em;
    margin: 7vw;
    padding: 15px;
    color: #919191;
    border: solid 4px #919191;
    border-radius: 50%;
}

#home {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-image: url(../img/programming-B2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.sTitle {
    color: #919191;
    font-size: 3em;
    font-weight: 700;
}

#portfolio {
    margin: 0px;
    width: 100vw;
    height: 130vh;
    color: #fff;
    background-color: #005f91;
}

#contact {
    color: #fff;
    background-image: url(../img/programming-B2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    width: 100vw;
    height: 130vh;
}

#reseaux {
    margin: 0px;
    width: 100vw;
    height: 90vh;
    color: #fff;
    background-color: #005f91;
}

/**************FORM**************/


.Form {
    margin: auto;
    margin-top: 60px;
    -webkit-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form label {
    font-size: medium;
    font-weight: bold;
    color: #919191;
}

form input{
    padding: 9px;
    color: white;
    border: 0;
    border-bottom: 3px solid #005f91;
    outline: none;
    background-color: rgba(145, 145, 145, 0);
}

.form-control{
background-color: rgba(145, 145, 145, 0)
}

#contact .btn {

    color: #919191;
    border-radius: 5px;
    background: #005f91;
}

#contact .btn:hover {
    transition: background-color .4s;
    background-color: rgba(0, 95, 145, 0.75);
}

/*************ARTICLES**************/

.title-section {
    font-family: 'Josefin Slab', serif;
    font-size: 4em;
    font-weight: 900;
    padding-top: 10vw;
    text-align: center;
    color: #919191;
}

.title-section-2 {
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
    font-weight: 700;
    padding-top: 5%;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
}

.title-section-3 {
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
    font-weight: 700;
    padding-top: 5%;
    text-align: center;
    color: #919191;
}

p {
    font-family: 'Josefin Slab', serif;
    font-size: 2em;
    line-height: 2em;
    margin: 5%;
    text-align: center;
    color: #919191;
}

.p-section-2 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.3em;
    line-height: 2em;
    color: #fff;
}

.p-section3 {
    padding: 5%;
}

.article {
    margin-bottom: 15px;
    border-bottom: 10px double rgba(7, 55, 74, .33);
}

.text-center img {
    width: 20vw;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 16px 16px 5px #004062;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 1.8em;
}

.btn {
    margin-bottom: 1.25em;
    color: #01222f;
    border: 1px solid #07374a;
    border-radius: 5px;
    background: transparent;
}

.btn:hover {
    transition: background-color .4s;
    background-color: #d9d3d3;
}

/************BOUTONS RESEAUX**********/

.btn-reseaux a {
    margin: 5%;
    text-decoration: none;
    color: #fff;
}

.btn-reseaux a:hover{
    color: #fff;

}

.btn-reseaux {
    display: flex;
    justify-content: center;
}

/*********FOOTER************/

.footer {
    margin:0px;
    padding: 0px;
    font-size: .8em;
    width: 100%;
    height: 15vh;
    background-color: #000;
}
footer {
    background-color: black;
}
.footer p {
    width: 100%;
    margin: 0px;
    padding-top: 20px;
}
